@use "@angular/material" as mat;
@use "variables" as *;

section {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 4vh calc(6dvw - 5px);
  border-radius: $radius;
  border: $border;
  text-align: center;
  width: fit-content;
  margin: 10vh auto;

  form {
    display: flex;
    flex-direction: column;
    gap: 35px;

    mat-form-field {
      flex: 1;
      min-width: 300px;
    }
  }
}