@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
}

main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  section {
    flex: 1;

    mat-sidenav-container {
      @include mat.sidenav-overrides((container-background-color: var(--mat-sys-secondary-container),
          container-text-color: var(--mat-sys-on-secondary-container),
          container-elevation-shadow: var(--mat-sys-level2),
        ));
      height: 100%;

      mat-sidenav {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 85dvh;
        align-self: center;
        box-shadow: var(--mat-sys-level4);

        mat-nav-list {
          a {
            div {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
      }

      mat-sidenav-content {
        flex: 1;
        overflow-y: scroll;
      }
    }
  }

  footer {
    justify-self: flex-end;
    background-color: rgb(0, 0, 65);
    color: white;
  }
}