@use "@angular/material" as mat;
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  section {
    flex: 1;

    mat-drawer-container {
      @include mat.sidenav-overrides(
        (
          container-background-color: var(--mat-sys-secondary-container),
          container-text-color: var(--mat-sys-on-secondary-container),
          container-elevation-shadow: var(--mat-sys-level2),
        )
      );
      height: 100%;
      mat-drawer {
        display: flex;
        flex-direction: column;
        mat-nav-list {
          a {
            div {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
      }
    }
  }
  footer {
    justify-self: flex-end;
    background-color: rgb(0, 0, 65);
    color: white;
  }
}
