@use "@angular/material" as mat;


footer {
    width: 100%;
    background-color: var(--mat-sys-tertiary-fixed-dim);
    color: var(--mat-sys-on-tertiary-fixed-dim);
    padding: 1rem;
    text-align: center;
}