@use "@angular/material" as mat;
@use "variables" as *;


form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 4vh calc(6dvw - 5px);
  border-radius: $radius;
  border: $border;
  margin: 10vh auto;

  section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    mat-form-field {
      flex: 1;
      min-width: 300px;
    }
  }

}