@use "@angular/material" as mat;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 3dvh;
    padding: 3dvh 4dvw 6dvh;

    width: min(1200px, 90%);

    header {
        display: flex;
        flex-direction: column;
        gap: 1dvh;

        h1,
        h2,
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }
        }

    }

    main {
        display: flex;
        flex-direction: column;
        gap: 3dvh;

        mat-chip-set {
            mat-chip {
                @include mat.chips-overrides((outline-color: var(--mat-sys-on-tertiary-fixed-dim),
                        label-text-color: var(--mat-sys-on-tertiary-fixed-dim)));
                background-color: var(--mat-sys-tertiary-fixed-dim);


                mat-icon {
                    font-size: 20px;
                    color: var(--mat-sys-on-tertiary-fixed-dim);
                }
            }
        }

        mat-list {
            div[mat-subheader] {
                display: flex;
                align-items: center;
                gap: 10px;

                mat-icon {
                    color: var(--mat-sys-tertiary)
                }
            }
        }
    }

    mat-accordion {
        mat-expansion-panel {
            p {
                padding-top: 10px;
            }
        }
    }
}

.chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
}


mat-icon {
    color: var(--mat-sys-primary);
}

mat-divider {
    @include mat.divider-overrides((color: var(--mat-sys-secondary-fixed),
        ));
}

.success {
    color: var(--mat-sys-primary)
}


.delete {
    color: var(--mat-sys-error);
}

mat-expansion-panel-header {
    background-color: var(--mat-sys-primary-fixed);
}