@if (offer()) {
<section>
    <header>
        <a [href]="offer()!.offerUrl" target="_blank">
            <h1>
                <mat-icon>work</mat-icon>
                {{ offer()!.title }}
            </h1>
        </a>
        <a [href]="offer()!.companyUrl" target="_blank">
            <h2>
                <mat-icon>business</mat-icon>
                {{offer()!.company}}
            </h2>
        </a>
        <p>
            <span><mat-icon>event</mat-icon> {{ toShortDate(offer()!.date) }}</span>
            <span><mat-icon>location_on</mat-icon>{{ offer()!.location || 'No especificada' }} </span>
        </p>
    </header>
    <mat-divider></mat-divider>
    <main>
        <mat-chip-set aria-label="Dog selection">
            @let status = getStatusModel(offer()!.status);
            @if (status) {

            <mat-chip variant="outlined">
                <mat-icon matChipAvatar>{{ status.icon }}</mat-icon>
                {{ status.label }}
            </mat-chip>
            }

            @if (offer()!.schedule){
            <mat-chip>
                <mat-icon matChipAvatar>schedule</mat-icon>
                {{ offer()!.schedule }}
            </mat-chip>
            }

            @if (offer()!.contractType) {
            <mat-chip variant="outlined">
                <mat-icon matChipAvatar>description</mat-icon>
                {{ offer()!.contractType }}
            </mat-chip>
            }

            @if (offer()!.companySalary) {
            <mat-chip>
                <mat-icon matChipAvatar>payments</mat-icon>
                {{ offer()!.companySalary }}
            </mat-chip>
            }

            @if (offer()!.desiredSalary) {
            <mat-chip>
                <mat-icon matChipAvatar>euro</mat-icon>
                {{ offer()!.desiredSalary }}
            </mat-chip>
            }

        </mat-chip-set>

        <mat-divider></mat-divider>

        @if ((offer()?.formattedCoverLetter ?? []).length) {
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><mat-icon>email</mat-icon> Carta de presentación</mat-panel-title>
                </mat-expansion-panel-header>
                @for (line of offer()?.formattedCoverLetter; track $index) {
                <p>{{ line }}</p>
                }
            </mat-expansion-panel>
        </mat-accordion>
        }

        @if ((offer()?.formattedOfferDescription ?? []).length) {
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><mat-icon>notes</mat-icon> Descripción de la oferta</mat-panel-title>
                </mat-expansion-panel-header>
                @for (line of offer()?.formattedOfferDescription; track $index) {
                <p>{{ line }}</p>
                }
            </mat-expansion-panel>
        </mat-accordion>
        }

        @if ((offer()?.formattedObjective ?? []).length) {
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><mat-icon>psychology</mat-icon> Objetivo Personal</mat-panel-title>
                </mat-expansion-panel-header>
                @for (line of offer()?.formattedObjective; track $index) {
                <p>{{ line }}</p>
                }
            </mat-expansion-panel>
        </mat-accordion>
        }
        <mat-divider></mat-divider>

        @if ((offer()?.selectionStages ?? []).length) {
        <mat-list>
            <div mat-subheader><mat-icon>flag</mat-icon> Etapas del proceso de selección</div>
            @for (stage of offer()!.selectionStages; track stage.name) {
            <mat-list-item>
                @if(stage.completed){
                <mat-icon matListItemIcon class="success">check</mat-icon>
                }
                @if(!stage.completed){
                <mat-icon matListItemIcon class="delete">close</mat-icon>
                }
                <div matListItemTitle>{{stage.name}}</div>
                @if(stage.date){
                <div matListItemLine>{{toShortDate(stage.date)}}</div>
                }
            </mat-list-item>
            }
        </mat-list>
        }

        <mat-divider></mat-divider>
        <div>

            <button matButton="tonal" [routerLink]="['/edit-offer', offer()?.id]">
                <mat-icon>edit</mat-icon>
                Editar oferta
            </button>
            <button matButton="outlined" routerLink="/offers">
                <mat-icon>list</mat-icon>
                Volver a ofertas
            </button>
        </div>
    </main>
</section>
}