:host {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 5dvh;
}

mat-card {
    width: fit-content;
    width: min(700px, 80%);

    mat-card-header {
        padding: 15px 20px;
    }

    mat-card-content {
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}