@use "@angular/material" as mat;

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5dvh 0;
    gap: 20px;
    overflow: hidden;

}

main {
    width: min(1200px, 95%);
    box-shadow: var(--mat-sys-level1);
    display: flex;
    flex-direction: column;

    table[mat-table] {
        width: 100%;
        flex-basis: 90%;
        box-shadow: var(--mat-sys-level3);
    }
}

.edit {
    color: var(--mat-sys-tertiary);
}

.eye {
    color: var(--mat-sys-primary)
}


th[mat-header-cell] {
    background-color: var(--mat-sys-primary-fixed);
    color: var(--mat-sys-on-primary-fixed)
}

.actions {
    display: flex;
    flex-wrap: nowrap;
}