@use "@angular/material" as mat;

$font-size: clamp(15px, 2vw, 20px);

// Define the theme using a color palette map
html {
  color-scheme: light;

  @include mat.core(); // Required for component base styles

  // Apply Material theme using prebuilt palettes
  @include mat.theme((color: (primary: mat.$azure-palette,
        secondary: mat.$violet-palette,
        tertiary: mat.$cyan-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

// Default body background and text color using system tokens
body {
  background-color: var(--mat-sys-color-surface);
  color: var(--mat-sys-color-on-surface);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: $font-size;
}

h1 {
  font-size: calc($font-size * 1.5);
}

h2 {
  font-size: calc($font-size * 1.2);
  font-weight: 200;
}

// Optional toolbar style using system tokens

// Optional footer style
footer {
  background-color: var(--mat-sys-color-secondary-container);
  color: var(--mat-sys-color-on-secondary-container);
  padding: 1rem;
  text-align: center;
}

// Ensure full height layout
html,
body {
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  @include mat.snack-bar-overrides((container-color: rgb(86, 189, 38),
      button-color: var(--mat-sys-primary),
      supporting-text-color: var(--mat-sys-on-primary)));
}

.snackbar-error {
  @include mat.snack-bar-overrides((container-color: var(--mat-sys-error),
      button-color: var(--mat-sys-on-error),
      supporting-text-color: var(--mat-sys-on-error)));
}

.snackbar-info {
  @include mat.snack-bar-overrides((container-color: var(--mat-sys-secondary),
      button-color: var(--mat-sys-on-secondary),
      supporting-text-color: var(--mat-sys-on-secondary)));
}

mat-card {
  overflow: hidden;

  @include mat.card-overrides((elevated-container-color: var(--mat-sys-tertiary),
      elevated-container-elevation: var(--mat-sys-level3),
      title-text-font: var(--mat-sys-on-tertiary)));

  mat-card-header {
    color: var(--mat-sys-on-tertiary);
  }
}